@import '../utils/styles.css';
.logout-button {
    display: flex;
    flex-direction: row;
    width: 7rem;
    height: 2rem;
    margin-right: 1rem;
    border-style: solid;
    border-width: .15rem;
    border-color: var(--white);
    border-radius: 1.5rem;
    background-color: transparent;
    text-decoration: none;
    cursor: pointer;
}

.logout-button__icon {
    height: 1rem;
    margin: auto 0;
    margin-left: .8rem;
    color: var(--white);
}

.logout-button__text {
    margin: .35rem 0 0 .6rem;
    font-size: .8rem;
    font-weight: 100;
    color: var(--white);
}

.logout-button:hover {
    background-color: var(--white);
}

.logout-button:hover .logout-button__icon {
    color: var(--primary);
}

.logout-button:hover .logout-button__text {
    color: var(--primary);
}

@media only screen and (max-width: 28rem) {
    .logout-button__text {
        display: none;
    }
    .logout-button {
        width: 3.4rem;
    }
}