@import '../../utils/styles.css';
.cards-list {
    display: flex;
    flex-direction: column;
    margin-top: 7rem;
}

.card-area {
    display: block;
    width: 100%;
    height: 10rem;
    text-decoration: none;
}

@media only screen and (min-width: 40rem) {
    .cards-list {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }
    .card-area {
        height: 25rem;
        width: 17rem;
    }
}

.footer {
    width: 100vw;
    margin: 1.5rem auto;
    color: var(--white-text);
}

.footer__button {
    padding: .2rem 1rem;
    margin-left: 1rem;
    background-color: var(--secondary);
    color: var(--black-text);
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem 0 var(--dark-shadow);
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
}